<div class="pe-0 bg-blue" style="width: 300px">
	<div class="container-sidebar" style="height: 73.3vh;">
		<div class="sidebar-item">
			<a href="/business/employ/schedule" class="sidebar-item-title pl-3 bg-blue">
				<i class="ti-receipt mr-3"></i>Lịch hẹn
			</a>
		</div>
		<div class="sidebar-item">
			<a href="/business/employ/customers/new" class="sidebar-item-title pl-3 bg-blue">
				<i class="ti-user mr-3"></i>Khách hàng
			</a>
		</div>
	</div>
	<div class="border-top">
		<div class="sidebar-item">
			<a href="/business/employ/profile" class="sidebar-item-title pl-3">
				<i class="ti-user mr-3"></i>Thông tin cá nhân
			</a>
		</div>
		<div class="sidebar-item">
			<form method="POST" action="/logout">
				<button class="btn btn-danger logout-btn btn-sm" type="submit">Đăng xuất</>
			</form>
		</div>
	</div>
</div>
