<div class="pe-0 bg-blue" style="min-width: 300px">
	<div class="container-sidebar" style="min-height: 84.5vh;">
		<div class="sidebar-item">
			<a href="/business/employ/schedules" class="sidebar-item-title pl-3 bg-blue">
				<i class="ti-receipt mr-3"></i>Lịch hẹn tư vấn
			</a>
		</div>
		<div class="sidebar-item">
			<a href="/business/employ/customers/new" class="sidebar-item-title pl-3 bg-blue">
				<i class="ti-user mr-3"></i>Quản lý khách hàng
			</a>
		</div>
		<div class="sidebar-item">
			<a href="/business/employ/service-note" class="sidebar-item-title pl-3 bg-blue">
				<i class="ti-user mr-3"></i>Danh sách phiếu dịch vụ
			</a>
		</div>
	</div>
	<div class="border-top">
		<div class="sidebar-item">
			<a href="/business/employ/profile" class="sidebar-item-title pl-3">
				<i class="ti-user mr-3"></i>Thông tin cá nhân
			</a>
		</div>
		<div class="sidebar-item">
			<form method="POST" action="/logout">
				<button class="btn btn-danger logout-btn btn-sm" type="submit">Đăng xuất</>
			</form>
		</div>
	</div>
</div>
