<link rel="stylesheet" href="/css/403.css">
<div class="wrapper">
<div class="box">
<h1>403</h1>
<p>Xin lỗi, bạn không được phép truy cập trang này!</p>
<p>Làm ơn, bấm <a onclick = "history.back()">quay lại.</a> hoặc <a href="/">Đăng nhập lại</a></p>
</div>
</div>