<nav id="sub-nav-lg" class="navbar taskbar justify-content-between">
	<div class="title">

	</div>
	<h3 class="title text-light sticky-top">Trang chủ</h3>

	<div class="stask">
	</div>
</nav>
	{{> page/sidebar/operating-room/sidebar-doctor}}

<div class="container">
	<div id="alert-message" class="alert alert-{{message.color}}" role="alert">
		{{message.content}}
	</div>
	halo

</div>

