{{> page/sidebar/human-resource/sidebar-manager-hr}}
<div class="container-fluid">
	<form method="POST" class="row" enctype="multipart/form-data">
		<input class="form-control" type="file" name="uploadBefore"	accept="image/png, image/gif, image/jpeg, video/mp4">
		<button type="submit">tair leen</button>
	</form>
</div>
side