
<nav id="sub-nav-lg" class="navbar taskbar ">
	
<h3 class="title text-light">Quản lý nhân sự</h3>

	
</nav>
{{> page/sidebar/human-resource/manager/sidebar-manager-hr}}

<div class="container-fluid mt-3">
	
</div>
<!-- Modal Create User -->
